* {
    font-family: "Ubuntu";
    font-size: 25px;
}

.container {
    height: auto;
    width: fit-content;
    margin: auto;
    box-shadow: 0px 0px 100px rgb(131, 59, 199);
}

.bg {
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    background-repeat: no-repeat;
}

.output {
    margin: auto;
    align-content: center;
}

#result {
    background: linear-gradient(to bottom, #E4E9FD, ivory);
    display: block;
    width: auto;
    height: 60px;
    margin: auto;
    text-align: end;
    cursor: text;
    border: none;
    border-radius: 10px;
}

#result:focus {
    outline: none;
}

.buttons {
    display: flex;
    margin: auto;
}

.btn-all {
    display: block;
    margin: auto;
    text-decoration: none;
}

.c {
    cursor: pointer;
    text-align: center;
    background-color: lightyellow;
    height: 45px;
    width: 330px;
    border-radius: 30px;
    display: block;
    margin: 15px;
    outline: none;
    border: none;
}

.btn {
    cursor: pointer;
    text-align: center;
    background-color: lightyellow;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: 15px;
    outline: none;
    border: none;
}